.Navbar{
    font-size: 1.2rem;
    text-align: center; 
    background: gray;
    padding: 1px;
}



.NavbarSearch{
    display: flex;
    justify-content: space-evenly;
}


.navlink{
    margin: 1%;
}
 

.Formholder{
    text-align: center; 
    padding: 1rem;
    background: gray;
    display: flex;
    justify-content: center;
}

/*/////////////////// Search Bar ////////////////////////////*/
.Searchbar{
    margin-bottom: 2%;
}
  
.RecipeHolder{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    justify-content: space-evenly;
}

.RecipeCard{
    width: 300px;
    text-align: center; 
    margin: 1%;
    border: 2px solid black;
    background: rgb(184, 184, 184);
    border-radius: 5px;
}


.Input{
    padding: 12px;
    /* margin: 0 5% 0 5%; */
    border: 2px solid black;
    font-size: 1.3rem;
    border-radius: 5px;   
}

.Input2{
    padding: 12px;
    margin: 0 0 0 4%;
    border: 2px solid black;
    font-size: 1.3rem;
    border-radius: 5px;   
}

/* END FORM ////////////////////////////////////////////*/

/* EDIT RECIPE FORM /////////////////////////////////// */

.EditFormHolder{
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: space-evenly;
}

.EditForm{
    text-align: center; 
    padding: 1rem;
}

.BtnEditSave{
    width: 128px;
    padding: 10px;
    margin: 0 12px 0 0;
    background: rgb(30, 255, 0);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.BtnEditCancel{
    width: 128px;
    padding: 10px;
    margin: 0 0 0 12px;
    background: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* END EDIT FORM ////////////////////////////////////////////*/


.BtnHolder{
    display:flex;
    margin: 10px;
    justify-content: space-evenly;
}

.BtnDeleteRecipe{
    width: 128px;
    padding: 10px;
    background: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Button add Recipe */
.BtnAddRecipe{
    padding: 12px;
    margin-left: 25px;
    background: rgb(30, 255, 0);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.BtnEditRecipe{
    width: 128px;
    padding: 10px;
    /* margin: 5px; */
    background: rgb(0, 162, 255);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* SEARCH EXAMPLE PAGE */
.SearchCard{
    text-align: center; 
    margin: 2%;
    padding: 12px;
    border: 2px solid black;
    /* background: rgb(184, 184, 184); */
}



/* TODO APP */
.App2{
    margin: 2%;
}

.mainBox2{
    text-align: center; 
    border: 2px solid black;
    margin: 0 12% 0% 12%;
}